[Unit]
Description=Scheduled restart for Arma Reforger Dedicated Server

[Timer]
{% for entry in on_calendar_entries | default(['*-*-* 06:00:00']) -%}
OnCalendar={{ entry }}
{% endfor -%}
Persistent=true

[Install]
WantedBy=timers.target
