[Unit]
Description=Restart Arma Reforger Dedicated Server ({{ instance }})
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ restart_helper }} {{ service_name }}
TimeoutStartSec=6min
StandardOutput=journal
StandardError=journal
