[Unit]
Description=Arma Reforger Dedicated Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ server_dir }}
ExecStart={{ start_script }}
Restart=always
RestartSec=15
CPUAccounting=yes
MemoryAccounting=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
