{
  "bindAddress": {{ bind_address | tojson }},
  "bindPort": {{ bind_port }},
  "publicAddress": {{ public_address | tojson }},
  "publicPort": {{ public_port }},
  "a2s": {
    "address": {{ a2s_address | tojson }},
    "port": {{ a2s_port }}
  },
  "rcon": {
    "address": {{ rcon_address | tojson }},
    "port": {{ rcon_port }},
    "password": {{ rcon_password | tojson }},
    "permission": {{ rcon_permission | tojson }},
    "maxClients": {{ rcon_max_clients }}
  },
  "game": {
    "name": {{ server_name | tojson }},
    "password": {{ game_password | tojson }},
    "passwordAdmin": {{ password_admin | tojson }},
    "scenarioId": {{ scenario_id | tojson }},
    "maxPlayers": {{ max_players }},
    "visible": {{ visible | tojson }},
    "gameProperties": {
      "serverMaxViewDistance": {{ server_max_view_distance }},
      "serverMinGrassDistance": {{ server_min_grass_distance }},
      "networkViewDistance": {{ network_view_distance }},
      "disableThirdPerson": {{ disable_third_person | tojson }},
      "fastValidation": {{ fast_validation | tojson }},
      "battlEye": {{ battleye | tojson }}
    },
    "mods": {{ game_mods | tojson }}
  }
}
